[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule "ycmd"]
	path = ycmd
	url = git@github.com:Valloric/ycmd.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "emacs-anywhere"]
	path = emacs-anywhere
	url = https://github.com/zachcurry/emacs-anywhere.git
