elpa
elpa/*
smex-items
tramp
bookmarks
history
%backup%~
recentf
recentf~
auto-save-list
auto-save-list/*
.emacs.desktop
.emacs.desktop.lock
.#.emacs.desktop
anaconda-mode
*#*
projectile-bookmarks.eld
.python-environments
zm-personal.el
network-security.data
.last-package-update-day
personal.el
/modes/.nrepl-history
/magithub/cache
/projectile.cache
/eshell/lastdir
persp-confs/*
*.elc
/.authinfo.gpg
/secrets/.authinfo.gpg
/url/cookies
vimish-fold/*
/core/mail-private.el
/apps/mail-private.el
/apps/irc-private.el
/irony/bin/irony-server
semanticdb/*
/abbrev_defs
/lang/.nrepl-history
/company-statistics-cache.el
straight/*
/request/curl-cookie-jar
/quelpa/*
url/*
/multi-compile.cache
/srecode-map.el
/.cache/treemacs-persist
/.persistent-scratch
meghanada/*
emojis/*
org-gcal/*
irony/*
/.historian
/.lsp-python/
/.cache/
/.lsp-session-v1
/.org-generic-id-locations
/eln-cache/
/forge-database.sqlite
session*
